.nav{
    display: flex;
    gap: 20px;
    padding: 0 10px;
    align-items: center;
    background-color: #fff;
}
img{
    width: 40px;
    height: 40px;
}
.logo{
    display: block;
}

@media screen and (min-width: 1060px){
    .logo{
        display: none;
    }
}