.performanceBody{
    display: flex;
    justify-content: center;
}
.performanceCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 15px 15px;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.10);
}
.performanceCard > h2{
    font-size: 21px;
}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.arrows > img{
    width: 15px;
    cursor: pointer;
}

.arrows > p{
    color: #3438538A;
    font-size: 15px;
}
.progressFlex{
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progressFlex > p{
    font-size: 15px;
}
.progressbar {
    background-color: #EEEAEA;
    border-radius: 13px;
    width: 80px;
    height: 8px;
  }
  
  .progressbar > div {
    background-color: #509849;
    width: 75%;
    height: 8px;
    border-radius: 10px;
  }
  .progressbarRed {
    background-color: #EEEAEA;
    border-radius: 13px;
    width: 80px;
    height: 8px;
  }
  .progressbarFlex{
      display: flex;
      align-items: center;
      gap: 10px;
  }
  
  .progressbarRed > div {
    background-color: #E71A1A;
    width: 43%;
    height: 8px;
    border-radius: 10px;
  }

@media screen and (min-width: 980px){
    .performanceBody{
        display: flex;
        justify-content: start;
    }
} 

@media screen and (min-width: 620px){
    .performanceCard{
        width: 300px;
    }
}